.layout {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.main_area {
  margin-bottom: 50px;
}

.profile_image_wrapper {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.profile_name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile_description {
  font-size: 14px;
  line-height: 1.7;
  white-space: pre-line;
}

@media screen and (min-width: 960px) {
  /*　画面サイズが768pxからはここを読み込む　*/
  .layout {
    padding-left: 24px;
    padding-right: 24px;
  }

  .container {
    flex-direction: row;
  }

  .main_area {
    width: 70%;
    margin-bottom: 0;
  }

  .aside_area {
    width: 25%;
    max-width: 300px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  /*　画面サイズが768pxからはここを読み込む　*/
  .layout {
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
